.dynamicTable {
    /*transform: scale(1,0.5);*/
    /*transform: translate(50px,100px);*/
    /*position: relative;*/
    /*padding-top: 50px;*/

}

.dragOverColumn {
    border-style: dashed;
}

.baseTD {
    padding-left: 1px;
}

.numberTD {
    padding-right: 1px;
    text-align: right;
}

.basicTH {

}

.stockRiseZh{
    color: #ff0000;
}

.stockFallZh{
    color: #00ff00;
}

.forexRise{
    display: inline;
    color: #FFFFFF;
    background-color: #00a900;
    padding-left: 5px;
    padding-right: 5px;
}

.forexRiseArrow{
    display: inline-block;
    border: 5px solid;
    border-color: transparent transparent #00ff00 transparent;
}

.forexFall{
    display: inline;
    color: #FFFFFF;
    background-color: #ad0000;
    padding-left: 5px;
    padding-right: 5px;
}

.forexFallArrow{
    display: inline-block;
    border: 5px solid;
    border-color: #ff0000 transparent transparent transparent;
}

.arrowDiv {
    position: relative;
    /*right: -5px;*/
}

.descArrow {
    display: inline-block;
    border: 5px solid;
    border-color: #00AACC transparent transparent transparent;
}

.ascArrow {
    display: inline-block;
    border: 5px solid;
    border-color: transparent transparent #00AACC transparent;
}